<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
      {% endif %}
      {% if site.show_downloads %}
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      <div style="text-align:center; margin-top:0px;">
        <p>
          Have you ever heard someone complain on holiday that "this beer just tastes way better back home"? Perhaps you have heard 
          big beer drinkers heavily critique a beer that you actually quite like. Perhaps you have been puzzled abroad by odd choices
          of beers.</p>
          <p></p>
          <emph>Have you ever wondered why this is?</emph>
          <p>
          Our culture and geographical background heavily influence our perception of the world in general [1], but (<emph>much 
          more importantly</emph>) also influence both our preferences for beer, and also how we rate and discuss them. In this data story,
          we take you on a journey through these geographical differences to better understand why they exist at all.
        </p>

        <!-- Have you ever asked yourself if you love Guinness in Ireland as much as you love it at home? Or have you ever asked yourself 
        how the Irish rate their most famous beer compared to you or people from other countries? And how do we all express our feelings
        about different beers compared to each other? If you like to learn more about how beer preferences and descriptions are influenced
        by geography and cultural background, then do not hesitate to click on the below displayed button and get a profound insight in the 
        beer rating world and the beer rating biases induced by rater's origin.
        </p> -->
      </div>
      <div style="text-align:center; margin-top:20px">        
        <a href="#story_start" class="btn">Start Story</a><br />
      </div>
      <p></p>
      <p></p>
      <p></p>

      <div id="progress-bar"></div>

      <div class="container" style="margin-top: 80px;">
          <h1 id="story_start">An Applied Beer Analysis Story...</h1>
          {{ content }}

            <footer style="text-align:center" class="site-footer">
            {% if site.github.is_project_page %}
              <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            {% endif %}
            
            <span class="site-footer-credits">
              This data story was created by Kasimir Tanner, Oisín Morrison, Matthieu Bossert & Andrea Bruder.
            </span>
            <p> <a href="https://github.com/epfl-ada/ada-2022-project-enchiladas">Github Repository</a></p>
            <span class="site-footer-credits">EPFL CS-410</span>
            </div>
          </section>
      </footer>
    </main>
    <script type="text/javascript" src="stuff.js"></script>
  </body>

</html>



